<div class="container">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/actualiza',indice]"><!--Hacemos que el link se dirija a la ruta que especificamos en este caso actualiza enrutamos-->
          <div >{{indice+1}}: {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}} {{empleadoDeLista.salario}}</div>
        </a>
      </div>
      <ul style="list-style:none;">
        <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
      </ul>
      <app-caracteristicas-empleado-c (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>
    </div>
  </div>