<p>Nombre del empleado: {{nombre}}</p>
<p>Apellido del empleado: {{apellido}}</p>
<p>Edad del empleado: {{edad<18 ? "Menor de edad":"Mayor de edad"}}</p> 
<p>Empresa del empleado: {{empresa.value}}</p> <!-- toma el valor del elemento que hemos denominado como empresa en este caso esta a continuacion -->

Introduce la empresa: <input type="text" #empresa (keyup)="0" [disabled]="habilitacioncuadro"><!--Forma de indicar el Bilding-->
<br/>
<br/>
<!--input type="button" value="Confirme" (click)="llamaEmpresa(empresa.value)"--> <!-- evento (desencadenante de la acción) el boton desencadenara un evento -->

Registrado: <input type="checkbox"  id="registro" [checked]="usoRegistrado ">

{{getRegistroUsuario()}}